@using Newtonsoft.Json
@model Gearz.Models.ApplicationViewModel
<script>
    window.stores = {};
    window.stores.App = @(Html.Raw(JsonConvert.SerializeObject(this.Model.App)));
    window.stores.Data = @(Html.Raw(JsonConvert.SerializeObject(this.Model.Data)));
    @{
        int appMetadataVersion;
        var cookie = this.Request.Cookies["app-metadata-version"];
        if (cookie == null || !int.TryParse(cookie.Value, out appMetadataVersion) || appMetadataVersion < 1)
        {
            <text>
    window.stores.Meta = @(Html.Raw(JsonConvert.SerializeObject(this.Model.Meta)));
    </text>
        }
    }
</script>
@{
    const string appComponentName = "Application";
    const string appElementId = "rootComponent";
}
@{
#if DEBUG
    const bool DEBUG = true;
#else
    const bool DEBUG = false;
#endif
}
@if (!DEBUG)
{
    @:@Html.React(appComponentName, this.Model, "div", appElementId)
}
else
{
    <div id="@appElementId"></div>
}
<script>
    function Render() {
        React.render(
            React.createElement(@(appComponentName), {
                App: window.stores.App,
                Meta: window.stores.Meta,
                Data: window.stores.Data
            }),
            document.getElementById("@(appElementId)"));
        }
        Render();
</script>